* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

body {
}

.top {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
}

.header,
.hero-content {
  margin: 0px 128px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 0px;
}

.header .text {
  font-size: 24px;
  font-weight: 900;
}

ul {
  list-style: none;
}

.header-links {
  display: flex;
}

li {
  color: #f9faf8;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  gap: 24px;

  padding: 48px 0px;
}

.hero-left {
  /* As container */
  display: flex;
  flex-direction: column;

  /* As element */
  flex: 1;
}

.hero-header {
  color: #f9faf8;
}

.text {
  color: #f9faf8;
}

button {
}

.sign-up {
  width: 64px;
}

.hero-right {
  background-color: #e5e7eb;
  text-align: center;
  align-content: center;
  flex: 1;
}

.middle {
  padding-bottom: 64px;
}

.middle-header {
  text-align: center;
  align-content: center;
  padding: 32px 0px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 2vw;
}

.card {
  width: 136px;
  min-width: 136px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card .text {
  color: #1f2937;
}

.frame {
  border: 3px solid #3882f6;
  border-radius: 10px;
  height: 136px;
}

.cards .text {
  text-align: center;
}

.quote-container {
}

.quote {
}

.text-medium {
}

.bottom {
  background-color: #3882f6;
}

.cta-container {
}

.cta-text {
  color: #f9faf8;
}

.logo {
}
